In [51]:
import pandas as pd
df = pd.read_csv('pendapatan.csv')
df

,id,Umur,Kelas Pekerja,Berat Akhir,Pendidikan,Jmlh Tahun Pendidikan,Status Perkawinan,Pekerjaan,Jenis Kelamin,Keuntungan Kapital,Kerugian Capital,Jam per Minggu,Gaji
0,27247,59,Pemerintah Negara,139616,Master,14,Menikah,Ekesekutif Managerial,Laki2,0.0,0.0,50.0,1
1,1640,52,Wiraswasta,158993,SMA,9,Cerai,Servis Lainnya,Perempuan,0.0,0.0,38.0,0
2,45206,52,Pekerja Bebas Bukan Perusahan,284648,SMA,9,Cerai,Ekesekutif Managerial,Perempuan,0.0,0.0,99.0,1
3,16154,45,Wiraswasta,132847,SMA,9,Belum Pernah Menikah,Pembersih,Perempuan,0.0,0.0,40.0,0
4,43023,28,Wiraswasta,103432,SMA,9,Belum Pernah Menikah,Supir,Laki2,0.0,0.0,45.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
38388,46220,47,Pekerja Bebas Bukan Perusahan,148169,SMA,9,Menikah,Perbaikan Kerajinan,Laki2,0.0,0.0,40.0,0
38389,33268,69,Pekerja Bebas Perusahaan,264722,D3,12,Menikah,Sales,Laki2,0.0,0.0,40.0,1
38390,44845,24,Pekerja Bebas Bukan Perusahan,31606,Sarjana,13,Menikah,Spesialis,Perempuan,0.0,0.0,20.0,1
38391,4517,47,Wiraswasta,197836,SMA,9,Menikah,Sales,Laki2,0.0,0.0,45.0,0
38392,38693,45,Wiraswasta,243743,Sarjana,13,Menikah,Ekesekutif Managerial,Laki2,0.0,0.0,60.0,1

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38393 entries, 0 to 38392
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     38393 non-null  int64
 1   Umur                   38393 non-null  int64
 2   Kelas Pekerja          38393 non-null  object
 3   Berat Akhir            38393 non-null  int64
 4   Pendidikan             38393 non-null  object
 5   Jmlh Tahun Pendidikan  38393 non-null  int64
 6   Status Perkawinan      38393 non-null  object
 7   Pekerjaan              38393 non-null  object
 8   Jenis Kelamin          38393 non-null  object
 9   Keuntungan Kapital     38393 non-null  float64
 10  Kerugian Capital       38393 non-null  float64
 11  Jam per Minggu         38393 non-null  float64
 12  Gaji                   38393 non-null  int64
dtypes: float64(3), int64(5), object(5)
memory usage: 3.1+ MB

In [53]:
a = df['Pekerjaan']=='?'
a.value_counts()

False    36183
True      2210
Name: Pekerjaan, dtype: int64

In [54]:
import numpy as np

for i in df :
    a = df[i]=='?'
    print(a.value_counts())
#pekerjaan,kelas pekerja

False    38393
Name: id, dtype: int64
False    38393
Name: Umur, dtype: int64
False    36189
True      2204
Name: Kelas Pekerja, dtype: int64
False    38393
Name: Berat Akhir, dtype: int64
False    38393
Name: Pendidikan, dtype: int64
False    38393
Name: Jmlh Tahun Pendidikan, dtype: int64
False    38393
Name: Status Perkawinan, dtype: int64
False    36183
True      2210
Name: Pekerjaan, dtype: int64
False    38393
Name: Jenis Kelamin, dtype: int64
False    38393
Name: Keuntungan Kapital, dtype: int64
False    38393
Name: Kerugian Capital, dtype: int64
False    38393
Name: Jam per Minggu, dtype: int64
False    38393
Name: Gaji, dtype: int64

c:\users\user\appdata\local\programs\python\python38-32\lib\site-packages\pandas\core\ops\array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

In [55]:
df['Pekerjaan'] = df['Pekerjaan'].replace({'?': np.nan})

In [56]:
df['Kelas Pekerja'] = df['Kelas Pekerja'].replace({'?': np.nan})

In [58]:
df['Pekerjaan'] = df['Pekerjaan'].fillna('Spesialis')

In [59]:
df['Pekerjaan'].value_counts()

Spesialis                7121
Ekesekutif Managerial    4790
Perbaikan Kerajinan      4788
Pemuka Agama             4408
Sales                    4323
Servis Lainnya           3859
Mesin Inspeksi           2380
Supir                    1859
Pembersih                1650
Petani                   1150
Tech-support             1122
Penjaga                   734
Asisten Rumah Tangga      198
Tentara                    11
Name: Pekerjaan, dtype: int64

In [61]:
df['Kelas Pekerja'] = df['Kelas Pekerja'].fillna('Wiraswasta')

In [65]:
df['Kelas Pekerja'].value_counts()

Wiraswasta                       28793
Pekerja Bebas Bukan Perusahan     3072
Pemerintah Lokal                  2454
Pemerintah Negara                 1579
Pekerja Bebas Perusahaan          1345
Pemerintah Provinsi               1128
Tanpa di Bayar                      16
Tidak Pernah Bekerja                 6
Name: Kelas Pekerja, dtype: int64

In [66]:
df['Kelas Pekerja'].value_counts()
pekerjaan = {
    'Pemerintah Negara':7,
    'Pemerintah Provinsi': 6,
    'Pemerintah Lokal': 5,
    'Wiraswasta':4,
    'Pekerja Bebas Perusahaan': 3,
    'Pekerja Bebas Bukan Perusahan':2,
    'Tanpa di Bayar' : 1,
    'Tidak Pernah Bekerja':0
}
# pemerintah negara>provinsi>lokal>wiraswasta>pekerja bebas perusahaan>pekerja bebas bkn perusahaan>tdk dibayar> tdk pernah bekerja

In [67]:
df['Kelas Pekerja'] = df['Kelas Pekerja'].replace(pekerjaan)
df['Kelas Pekerja'].value_counts()

4    28793
2     3072
5     2454
7     1579
3     1345
6     1128
1       16
0        6
Name: Kelas Pekerja, dtype: int64

In [68]:
df['Pendidikan'].value_counts()
# doktor > master > sarjana > d4 > D3 > Pendidikan Tinggi > Sekolah Professional > SMA > 12th > 11th > 10th
# > 9th > 7th-8th > SD > 5th-6th > 1st-4th
pendidikan = {
    'Doktor':9,
    'Master': 9,
    'Sarjana': 9,
    'D4':9,
    'D3':9,
    'Pendidikan Tinggi':9,
    'Sekolah Professional':8,
    'SMA':7,
    '12th':7,
    '11th':6,
    '10th':5,
    '9th':4,
    '7th-8th':3,
    'SD':2,
    '5th-6th':1,
    '1st-4th':0
}
df['Pendidikan'] = df['Pendidikan'].replace(pendidikan)

In [69]:
df

,id,Umur,Kelas Pekerja,Berat Akhir,Pendidikan,Jmlh Tahun Pendidikan,Status Perkawinan,Pekerjaan,Jenis Kelamin,Keuntungan Kapital,Kerugian Capital,Jam per Minggu,Gaji
0,27247,59,7,139616,9,14,Menikah,Ekesekutif Managerial,Laki2,0.0,0.0,50.0,1
1,1640,52,4,158993,7,9,Cerai,Servis Lainnya,Perempuan,0.0,0.0,38.0,0
2,45206,52,2,284648,7,9,Cerai,Ekesekutif Managerial,Perempuan,0.0,0.0,99.0,1
3,16154,45,4,132847,7,9,Belum Pernah Menikah,Pembersih,Perempuan,0.0,0.0,40.0,0
4,43023,28,4,103432,7,9,Belum Pernah Menikah,Supir,Laki2,0.0,0.0,45.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
38388,46220,47,2,148169,7,9,Menikah,Perbaikan Kerajinan,Laki2,0.0,0.0,40.0,0
38389,33268,69,3,264722,9,12,Menikah,Sales,Laki2,0.0,0.0,40.0,1
38390,44845,24,2,31606,9,13,Menikah,Spesialis,Perempuan,0.0,0.0,20.0,1
38391,4517,47,4,197836,7,9,Menikah,Sales,Laki2,0.0,0.0,45.0,0
38392,38693,45,4,243743,9,13,Menikah,Ekesekutif Managerial,Laki2,0.0,0.0,60.0,1

In [81]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38393 entries, 0 to 38392
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     38393 non-null  int64
 1   Umur                   38393 non-null  int64
 2   Kelas Pekerja          38393 non-null  int64
 3   Berat Akhir            38393 non-null  int64
 4   Pendidikan             38393 non-null  int64
 5   Jmlh Tahun Pendidikan  38393 non-null  int64
 6   Status Perkawinan      38393 non-null  object
 7   Pekerjaan              38393 non-null  object
 8   Jenis Kelamin          38393 non-null  object
 9   Keuntungan Kapital     38393 non-null  float64
 10  Kerugian Capital       38393 non-null  float64
 11  Jam per Minggu         38393 non-null  float64
 12  Gaji                   38393 non-null  int64
dtypes: float64(3), int64(7), object(3)
memory usage: 3.4+ MB

In [70]:
df = pd.get_dummies(df, columns=['Status Perkawinan','Jenis Kelamin','Pekerjaan'])

In [71]:
df = df.drop(columns=['id','Berat Akhir'])

In [72]:
df

,Umur,Kelas Pekerja,Pendidikan,Jmlh Tahun Pendidikan,Keuntungan Kapital,Kerugian Capital,Jam per Minggu,Gaji,Status Perkawinan_Belum Pernah Menikah,Status Perkawinan_Berpisah,...,Pekerjaan_Pemuka Agama,Pekerjaan_Penjaga,Pekerjaan_Perbaikan Kerajinan,Pekerjaan_Petani,Pekerjaan_Sales,Pekerjaan_Servis Lainnya,Pekerjaan_Spesialis,Pekerjaan_Supir,Pekerjaan_Tech-support,Pekerjaan_Tentara
0,59,7,9,14,0.0,0.0,50.0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,52,4,7,9,0.0,0.0,38.0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,52,2,7,9,0.0,0.0,99.0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,45,4,7,9,0.0,0.0,40.0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,28,4,7,9,0.0,0.0,45.0,1,1,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38388,47,2,7,9,0.0,0.0,40.0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
38389,69,3,9,12,0.0,0.0,40.0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
38390,24,2,9,13,0.0,0.0,20.0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
38391,47,4,7,9,0.0,0.0,45.0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
38392,45,4,9,13,0.0,0.0,60.0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [74]:
data = df.drop(columns=['Gaji'])
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38393 entries, 0 to 38392
Data columns (total 29 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Umur                                    38393 non-null  int64
 1   Kelas Pekerja                           38393 non-null  int64
 2   Pendidikan                              38393 non-null  int64
 3   Jmlh Tahun Pendidikan                   38393 non-null  int64
 4   Keuntungan Kapital                      38393 non-null  float64
 5   Kerugian Capital                        38393 non-null  float64
 6   Jam per Minggu                          38393 non-null  float64
 7   Status Perkawinan_Belum Pernah Menikah  38393 non-null  uint8
 8   Status Perkawinan_Berpisah              38393 non-null  uint8
 9   Status Perkawinan_Cerai                 38393 non-null  uint8
 10  Status Perkawinan_Janda                 38393 non-null  uint8
 11  Status Perkawinan_Menikah               38393 non-null  uint8
 12  Status Perkawinan_Menikah LDR           38393 non-null  uint8
 13  Jenis Kelamin_Laki2                     38393 non-null  uint8
 14  Jenis Kelamin_Perempuan                 38393 non-null  uint8
 15  Pekerjaan_Asisten Rumah Tangga          38393 non-null  uint8
 16  Pekerjaan_Ekesekutif Managerial         38393 non-null  uint8
 17  Pekerjaan_Mesin Inspeksi                38393 non-null  uint8
 18  Pekerjaan_Pembersih                     38393 non-null  uint8
 19  Pekerjaan_Pemuka Agama                  38393 non-null  uint8
 20  Pekerjaan_Penjaga                       38393 non-null  uint8
 21  Pekerjaan_Perbaikan Kerajinan           38393 non-null  uint8
 22  Pekerjaan_Petani                        38393 non-null  uint8
 23  Pekerjaan_Sales                         38393 non-null  uint8
 24  Pekerjaan_Servis Lainnya                38393 non-null  uint8
 25  Pekerjaan_Spesialis                     38393 non-null  uint8
 26  Pekerjaan_Supir                         38393 non-null  uint8
 27  Pekerjaan_Tech-support                  38393 non-null  uint8
 28  Pekerjaan_Tentara                       38393 non-null  uint8
dtypes: float64(3), int64(4), uint8(22)
memory usage: 2.9 MB

In [112]:
from sklearn.preprocessing import StandardScaler
std = StandardScaler()
dataNorm = std.fit_transform(data)

dfNorm = pd.DataFrame(dataNorm, columns=['Umur','Kelas Pekerja',
                                           'Pendidikan','Jmlh Tahun Pendidikan','Keuntungan Kapital','Kerugian Capital',
                                           'Jam per Minggu','Status Perkawinan_Belum Pernah Menikah',
                                           'Status Perkawinan_Berpisah','Status Perkawinan_Cerai','Status Perkawinan_Janda',
                                           'Status Perkawinan_Menikah','Status Perkawinan_Menikah LDR',
                                           'Jenis Kelamin_Laki2','Jenis Kelamin_Perempuan','Pekerjaan_Asisten Rumah Tangga','Pekerjaan_Ekesekutif Managerial','Pekerjaan_Mesin Inspeksi','Pekerjaan_Pembersih',
                                         'Pekerjaan_Pemuka Agama',
                                         'Pekerjaan_Penjaga','Pekerjaan_Perbaikan Kerajinan','Pekerjaan_Petani','Pekerjaan_Sales','Pekerjaan_Servis Lainnya',
                                         'Pekerjaan_Spesialis','Pekerjaan_Supir','Pekerjaan_Tech-support','Pekerjaan_Tentara'])
dfNorm

,Umur,Kelas Pekerja,Pendidikan,Jmlh Tahun Pendidikan,Keuntungan Kapital,Kerugian Capital,Jam per Minggu,Status Perkawinan_Belum Pernah Menikah,Status Perkawinan_Berpisah,Status Perkawinan_Cerai,...,Pekerjaan_Pemuka Agama,Pekerjaan_Penjaga,Pekerjaan_Perbaikan Kerajinan,Pekerjaan_Petani,Pekerjaan_Sales,Pekerjaan_Servis Lainnya,Pekerjaan_Spesialis,Pekerjaan_Supir,Pekerjaan_Tech-support,Pekerjaan_Tentara
0,1.484251,3.092486,0.741838,1.521522,-0.145415,-0.216012,0.772005,-0.700996,-0.179854,-0.395802,...,-0.360145,-0.139609,-0.377464,-0.175722,-0.35621,-0.334283,-0.477191,-0.225575,-0.173505,-0.016929
1,0.973097,-0.051481,-0.443701,-0.420596,-0.145415,-0.216012,-0.197102,-0.700996,-0.179854,2.526513,...,-0.360145,-0.139609,-0.377464,-0.175722,-0.35621,2.991480,-0.477191,-0.225575,-0.173505,-0.016929
2,0.973097,-2.147459,-0.443701,-0.420596,-0.145415,-0.216012,4.729191,-0.700996,-0.179854,2.526513,...,-0.360145,-0.139609,-0.377464,-0.175722,-0.35621,-0.334283,-0.477191,-0.225575,-0.173505,-0.016929
3,0.461943,-0.051481,-0.443701,-0.420596,-0.145415,-0.216012,-0.035585,1.426541,-0.179854,-0.395802,...,-0.360145,-0.139609,-0.377464,-0.175722,-0.35621,-0.334283,-0.477191,-0.225575,-0.173505,-0.016929
4,-0.779432,-0.051481,-0.443701,-0.420596,-0.145415,-0.216012,0.368210,1.426541,-0.179854,-0.395802,...,-0.360145,-0.139609,-0.377464,-0.175722,-0.35621,-0.334283,-0.477191,4.433114,-0.173505,-0.016929
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38388,0.607987,-2.147459,-0.443701,-0.420596,-0.145415,-0.216012,-0.035585,-0.700996,-0.179854,-0.395802,...,-0.360145,-0.139609,2.649262,-0.175722,-0.35621,-0.334283,-0.477191,-0.225575,-0.173505,-0.016929
38389,2.214471,-1.099470,0.741838,0.744675,-0.145415,-0.216012,-0.035585,-0.700996,-0.179854,-0.395802,...,-0.360145,-0.139609,-0.377464,-0.175722,2.80733,-0.334283,-0.477191,-0.225575,-0.173505,-0.016929
38390,-1.071520,-2.147459,0.741838,1.133098,-0.145415,-0.216012,-1.650763,-0.700996,-0.179854,-0.395802,...,-0.360145,-0.139609,-0.377464,-0.175722,-0.35621,-0.334283,2.095595,-0.225575,-0.173505,-0.016929
38391,0.607987,-0.051481,-0.443701,-0.420596,-0.145415,-0.216012,0.368210,-0.700996,-0.179854,-0.395802,...,-0.360145,-0.139609,-0.377464,-0.175722,2.80733,-0.334283,-0.477191,-0.225575,-0.173505,-0.016929
38392,0.461943,-0.051481,0.741838,1.133098,-0.145415,-0.216012,1.579594,-0.700996,-0.179854,-0.395802,...,-0.360145,-0.139609,-0.377464,-0.175722,-0.35621,-0.334283,-0.477191,-0.225575,-0.173505,-0.016929

In [113]:
dfNorm.describe()

,Umur,Kelas Pekerja,Pendidikan,Jmlh Tahun Pendidikan,Keuntungan Kapital,Kerugian Capital,Jam per Minggu,Status Perkawinan_Belum Pernah Menikah,Status Perkawinan_Berpisah,Status Perkawinan_Cerai,...,Pekerjaan_Pemuka Agama,Pekerjaan_Penjaga,Pekerjaan_Perbaikan Kerajinan,Pekerjaan_Petani,Pekerjaan_Sales,Pekerjaan_Servis Lainnya,Pekerjaan_Spesialis,Pekerjaan_Supir,Pekerjaan_Tech-support,Pekerjaan_Tentara
count,3.839300e+04,3.839300e+04,3.839300e+04,3.839300e+04,3.839300e+04,3.839300e+04,3.839300e+04,3.839300e+04,3.839300e+04,3.839300e+04,...,3.839300e+04,3.839300e+04,3.839300e+04,3.839300e+04,3.839300e+04,3.839300e+04,3.839300e+04,3.839300e+04,3.839300e+04,3.839300e+04
mean,1.445404e-16,-2.707587e-16,2.069093e-16,-2.032079e-16,-3.460826e-17,2.146823e-17,1.926588e-16,1.499074e-17,-3.516347e-17,-6.292411e-18,...,-7.717457e-17,-1.388032e-17,3.368291e-17,1.850709e-17,-2.646514e-17,-1.980259e-17,-6.884638e-17,-7.032694e-18,4.858111e-17,1.128933e-17
std,1.000013e+00,1.000013e+00,1.000013e+00,1.000013e+00,1.000013e+00,1.000013e+00,1.000013e+00,1.000013e+00,1.000013e+00,1.000013e+00,...,1.000013e+00,1.000013e+00,1.000013e+00,1.000013e+00,1.000013e+00,1.000013e+00,1.000013e+00,1.000013e+00,1.000013e+00,1.000013e+00
min,-1.582674e+00,-4.243437e+00,-4.593084e+00,-3.527984e+00,-1.454153e-01,-2.160123e-01,-3.185182e+00,-7.009962e-01,-1.798538e-01,-3.958024e-01,...,-3.601448e-01,-1.396091e-01,-3.774636e-01,-1.757222e-01,-3.562104e-01,-3.342827e-01,-4.771915e-01,-2.255751e-01,-1.735046e-01,-1.692905e-02
25%,-7.794316e-01,-5.148093e-02,-4.437006e-01,-4.205957e-01,-1.454153e-01,-2.160123e-01,-3.558457e-02,-7.009962e-01,-1.798538e-01,-3.958024e-01,...,-3.601448e-01,-1.396091e-01,-3.774636e-01,-1.757222e-01,-3.562104e-01,-3.342827e-01,-4.771915e-01,-2.255751e-01,-1.735046e-01,-1.692905e-02
50%,-1.222334e-01,-5.148093e-02,7.418375e-01,-3.217219e-02,-1.454153e-01,-2.160123e-01,-3.558457e-02,-7.009962e-01,-1.798538e-01,-3.958024e-01,...,-3.601448e-01,-1.396091e-01,-3.774636e-01,-1.757222e-01,-3.562104e-01,-3.342827e-01,-4.771915e-01,-2.255751e-01,-1.735046e-01,-1.692905e-02
75%,6.810088e-01,-5.148093e-02,7.418375e-01,7.446748e-01,-1.454153e-01,-2.160123e-01,3.682100e-01,1.426541e+00,-1.798538e-01,-3.958024e-01,...,-3.601448e-01,-1.396091e-01,-3.774636e-01,-1.757222e-01,-3.562104e-01,-3.342827e-01,-4.771915e-01,-2.255751e-01,-1.735046e-01,-1.692905e-02
max,3.747934e+00,3.092486e+00,7.418375e-01,2.298369e+00,1.325979e+01,1.064708e+01,4.729191e+00,1.426541e+00,5.560070e+00,2.526513e+00,...,2.776661e+00,7.162858e+00,2.649262e+00,5.690801e+00,2.807330e+00,2.991480e+00,2.095595e+00,4.433114e+00,5.763537e+00,5.907007e+01

In [114]:
X = dfNorm
y = df['Gaji']

In [120]:
y.value_counts()/df.shape[0]

0    0.760503
1    0.239497
Name: Gaji, dtype: float64

In [121]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.25, random_state=21, stratify=y)

In [122]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV
import numpy as np

model = RandomForestClassifier()
#params = {'n_neighbors': np.arange(3,11), 'weights':['distance', 'uniform']}
param = {'criterion':['gini', 'entropy'], 'random_state':np.arange(10)}
gscv = GridSearchCV(model, param_grid=param, scoring='roc_auc', cv=10)
gscv.fit(X_train,y_train)
gscv.best_params_

{'criterion': 'gini', 'random_state': 4}

In [123]:
gscv.best_score_

0.890497712557336

In [124]:
y_new = gscv.predict_proba(X_test)

In [125]:
y_pred = y_new[:, 1]

In [126]:
from sklearn.metrics import roc_auc_score

roc_auc_score(y_test,y_pred)

0.8887638758960119

In [92]:
test = pd.read_csv('Pendapatan_test.csv')
test

,id,Umur,Kelas Pekerja,Berat Akhir,Pendidikan,Jmlh Tahun Pendidikan,Status Perkawinan,Pekerjaan,Jenis Kelamin,Keuntungan Kapital,Kerugian Capital,Jam per Minggu
0,47933,30,Pemerintah Lokal,99761,D4,11,Cerai,Pemuka Agama,Perempuan,0.0,0.0,40.0
1,44213,28,Wiraswasta,202206,SMA,9,Menikah,Mesin Inspeksi,Laki2,0.0,0.0,50.0
2,20823,34,Pemerintah Provinsi,199934,Pendidikan Tinggi,10,Menikah,Pemuka Agama,Laki2,0.0,0.0,40.0
3,40565,51,Wiraswasta,373448,Pendidikan Tinggi,10,Menikah,Ekesekutif Managerial,Laki2,0.0,28028000.0,40.0
4,9860,20,?,144685,Pendidikan Tinggi,10,Belum Pernah Menikah,?,Perempuan,0.0,22428000.0,40.0
...,...,...,...,...,...,...,...,...,...,...,...,...
9594,13587,58,Pemerintah Negara,159021,9th,5,Menikah,Petani,Laki2,0.0,0.0,40.0
9595,33231,45,Pekerja Bebas Bukan Perusahan,144086,11th,7,Menikah,Perbaikan Kerajinan,Laki2,0.0,0.0,50.0
9596,18614,20,Wiraswasta,238685,Pendidikan Tinggi,10,Belum Pernah Menikah,Servis Lainnya,Perempuan,0.0,0.0,32.0
9597,37566,41,Pemerintah Lokal,249039,SMA,9,Berpisah,Pemuka Agama,Perempuan,0.0,0.0,40.0
9598,6744,34,Pekerja Bebas Bukan Perusahan,24961,SMA,9,Menikah,Petani,Laki2,0.0,0.0,80.0

In [96]:
for i in test :
    a = test[i]=='?'
    print(a.value_counts())

False    9599
Name: id, dtype: int64
False    9599
Name: Umur, dtype: int64
False    9599
Name: Kelas Pekerja, dtype: int64
False    9599
Name: Berat Akhir, dtype: int64
False    9599
Name: Pendidikan, dtype: int64
False    9599
Name: Jmlh Tahun Pendidikan, dtype: int64
False    9599
Name: Status Perkawinan, dtype: int64
False    9599
Name: Pekerjaan, dtype: int64
False    9599
Name: Jenis Kelamin, dtype: int64
False    9599
Name: Keuntungan Kapital, dtype: int64
False    9599
Name: Kerugian Capital, dtype: int64
False    9599
Name: Jam per Minggu, dtype: int64

In [95]:
test['Pekerjaan'] = test['Pekerjaan'].replace({'?': np.nan})
test['Kelas Pekerja'] = test['Kelas Pekerja'].replace({'?': np.nan})

In [98]:
test['Pekerjaan'].value_counts()
test['Pekerjaan'] = test['Pekerjaan'].fillna('Perbaikan Kerajinan')

In [100]:
test['Kelas Pekerja'].value_counts()
test['Kelas Pekerja'] = test['Kelas Pekerja'].fillna('Wiraswasta')

In [101]:
test['Pendidikan'] = test['Pendidikan'].replace(pendidikan)
test['Kelas Pekerja'] = test['Kelas Pekerja'].replace(pekerjaan)
test = pd.get_dummies(test, columns=['Status Perkawinan','Jenis Kelamin','Pekerjaan'])
test = test.drop(columns=['Berat Akhir'])

In [102]:
test

,id,Umur,Kelas Pekerja,Pendidikan,Jmlh Tahun Pendidikan,Keuntungan Kapital,Kerugian Capital,Jam per Minggu,Status Perkawinan_Belum Pernah Menikah,Status Perkawinan_Berpisah,...,Pekerjaan_Pemuka Agama,Pekerjaan_Penjaga,Pekerjaan_Perbaikan Kerajinan,Pekerjaan_Petani,Pekerjaan_Sales,Pekerjaan_Servis Lainnya,Pekerjaan_Spesialis,Pekerjaan_Supir,Pekerjaan_Tech-support,Pekerjaan_Tentara
0,47933,30,5,9,11,0.0,0.0,40.0,0,0,...,1,0,0,0,0,0,0,0,0,0
1,44213,28,4,7,9,0.0,0.0,50.0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,20823,34,6,9,10,0.0,0.0,40.0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,40565,51,4,9,10,0.0,28028000.0,40.0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,9860,20,4,9,10,0.0,22428000.0,40.0,1,0,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9594,13587,58,7,4,5,0.0,0.0,40.0,0,0,...,0,0,0,1,0,0,0,0,0,0
9595,33231,45,2,6,7,0.0,0.0,50.0,0,0,...,0,0,1,0,0,0,0,0,0,0
9596,18614,20,4,9,10,0.0,0.0,32.0,1,0,...,0,0,0,0,0,1,0,0,0,0
9597,37566,41,5,7,9,0.0,0.0,40.0,0,1,...,1,0,0,0,0,0,0,0,0,0
9598,6744,34,2,7,9,0.0,0.0,80.0,0,0,...,0,0,0,1,0,0,0,0,0,0

In [103]:
test_drop = test.drop(columns='id')
test_drop

,Umur,Kelas Pekerja,Pendidikan,Jmlh Tahun Pendidikan,Keuntungan Kapital,Kerugian Capital,Jam per Minggu,Status Perkawinan_Belum Pernah Menikah,Status Perkawinan_Berpisah,Status Perkawinan_Cerai,...,Pekerjaan_Pemuka Agama,Pekerjaan_Penjaga,Pekerjaan_Perbaikan Kerajinan,Pekerjaan_Petani,Pekerjaan_Sales,Pekerjaan_Servis Lainnya,Pekerjaan_Spesialis,Pekerjaan_Supir,Pekerjaan_Tech-support,Pekerjaan_Tentara
0,30,5,9,11,0.0,0.0,40.0,0,0,1,...,1,0,0,0,0,0,0,0,0,0
1,28,4,7,9,0.0,0.0,50.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,34,6,9,10,0.0,0.0,40.0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,51,4,9,10,0.0,28028000.0,40.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,20,4,9,10,0.0,22428000.0,40.0,1,0,0,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9594,58,7,4,5,0.0,0.0,40.0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
9595,45,2,6,7,0.0,0.0,50.0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
9596,20,4,9,10,0.0,0.0,32.0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
9597,41,5,7,9,0.0,0.0,40.0,0,1,0,...,1,0,0,0,0,0,0,0,0,0
9598,34,2,7,9,0.0,0.0,80.0,0,0,0,...,0,0,0,1,0,0,0,0,0,0

In [139]:
y_new = gscv.predict(test_drop)

In [134]:
y_new

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [137]:
y_pred = y_new[:, 1]

In [140]:
roc_auc_score(y_test,y_new)

0.49595470335524083

In [141]:
submission = pd.DataFrame({
        "id": test["id"],
        "gaji": y_new
    })

submission.to_csv('submisi1.csv', index=False)

In [142]:
pd.read_csv('submisi1.csv')

         id  gaji
0     47933     0
1     44213     0
2     20823     0
3     40565     1
4      9860     1
...     ...   ...
9594  13587     0
9595  33231     0
9596  18614     0
9597  37566     0
9598   6744     0

[9599 rows x 2 columns]